In [43]:
import pandas as pd
import numpy as np
dis = { 'X':[2,3,4,2,1,3],'Y':[34,6,23,43,34,29],"Z":[34,56,8,7,6,55]}
df = pd.DataFrame(dis)
print(df)

   X   Y   Z
0  2  34  34
1  3   6  56
2  4  23   8
3  2  43   7
4  1  34   6
5  3  29  55

In [44]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
#Creating data frame with index as labels
#exam_data["labels"]= labels
#df2 = pd.DataFrame(exam_data)
#df2.set_index('labels',inplace=True)
#df2 = df2.iloc[:,[2,0,3,1]]

df2 = pd.DataFrame(exam_data,index=labels)
print(df2)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [45]:
print(df2.info())
#printing the summary of the data frame

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [46]:
#priting first 3 row
print(df2.iloc[:3])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [47]:
#printing two columns
print(df2.iloc[:,:2])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [48]:
#printing specified index rows
print(df2.iloc[[1,3,5,6]])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes
g  Matthew   14.5         1     yes

In [49]:
#printing if a value specified exceeds
df3 = df2[df2["attempts"]>2]
print(df3)

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [50]:
#counting number of rows and no. of columns
n_row = 0
n_column = 0
for col in df2.columns:
    n_column +=1
print(n_column)
n_row = len(df2["attempts"])
print(n_row)

4
10

In [51]:
#selecting rows with score none
print(df2)
df4 = df2[df2["score"].isnull()]
print(df4)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [52]:
#selecting rowa with particular score
df5 = df2[(df2["score"]>=15) & (df2["score"]<=20)] 
print(df5)

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [53]:
#selecting rowa with particular score and attempt
df6 = df2[(df2["score"]>=15) & (df2["attempts"]<2)] 
print(df6)
print(df2)

    name  score  attempts qualify
j  Jonas   19.0         1     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [54]:
df2.at['d',"score"]=11.5
print(df2)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [55]:
#sum of examination attempt
print(df2["attempts"].sum())

19

In [56]:
print(df2['score'].mean())

13.333333333333334

In [59]:
new_dis = {"name" : "Suresh", "score": 15.5, "attempts": 1, "qualify": "yes"}
index = ['k']
ndf = pd.DataFrame(new_dis,index=index)
print(ndf)

     name  score  attempts qualify
k  Suresh   15.5         1     yes

In [61]:
cdf = pd.concat([df2,ndf])
print(cdf)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [69]:
cdf.drop('k',inplace=True)
print(df2)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [71]:
cdf.sort_values('name')
print(cdf)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [76]:
cdf.sort_values('name',ascending=False,inplace=True)
print(cdf)

        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

In [77]:
#replacing all the data of a column
cdf['qualify'].replace('yes',"True",inplace=True)
cdf['qualify'].replace('no',"False",inplace=True)
print(cdf)

        name  score  attempts qualify
f    Michael   20.0         3    True
g    Matthew   14.5         1    True
h      Laura    NaN         1   False
i      Kevin    8.0         2   False
c  Katherine   16.5         2    True
j      Jonas   19.0         1    True
d      James   11.5         3   False
e      Emily    9.0         2   False
b       Dima    9.0         3   False
a  Anastasia   12.5         1    True

In [78]:
cdf['name'].replace('James',"Suresh",inplace=True)
print(cdf)

        name  score  attempts qualify
f    Michael   20.0         3    True
g    Matthew   14.5         1    True
h      Laura    NaN         1   False
i      Kevin    8.0         2   False
c  Katherine   16.5         2    True
j      Jonas   19.0         1    True
d     Suresh   11.5         3   False
e      Emily    9.0         2   False
b       Dima    9.0         3   False
a  Anastasia   12.5         1    True

In [81]:
del cdf['qualify']
print(cdf)

        name  score  attempts
f    Michael   20.0         3
g    Matthew   14.5         1
h      Laura    NaN         1
i      Kevin    8.0         2
c  Katherine   16.5         2
j      Jonas   19.0         1
d     Suresh   11.5         3
e      Emily    9.0         2
b       Dima    9.0         3
a  Anastasia   12.5         1

In [83]:
#inserting a new column in dataframe
print(df2)
colors = ["red","blue","cream","darkblue","emirate","faintYellow","Green","Hazel","indigo","jamuni"]
df2["Color"]=colors
print(df2)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name  score  attempts qualify        Color
a  Anastasia   12.5         1     yes          red
b       Dima    9.0         3      no         blue
c  Katherine   16.5         2     yes        cream
d      James   11.5         3      no     darkblue
e      Emily    9.0         2      no      emirate
f    Michael   20.0         3     yes  faintYellow
g    Matthew   14.5         1     yes        Green
h      Laura    NaN         1      no        Hazel
i      Kevin    8.0         2      no       indigo
j      Jonas   19.0         1     yes       jamuni

In [96]:
#iteration in data frame
#columns each
for col in df2.columns:
    print(df2[col])

a    Anastasia
b         Dima
c    Katherine
d        James
e        Emily
f      Michael
g      Matthew
h        Laura
i        Kevin
j        Jonas
Name: name, dtype: object
a    12.5
b     9.0
c    16.5
d    11.5
e     9.0
f    20.0
g    14.5
h     NaN
i     8.0
j    19.0
Name: score, dtype: float64
a    1
b    3
c    2
d    3
e    2
f    3
g    1
h    1
i    2
j    1
Name: attempts, dtype: int64
a    yes
b     no
c    yes
d     no
e     no
f    yes
g    yes
h     no
i     no
j    yes
Name: qualify, dtype: object
a            red
b           blue
c          cream
d       darkblue
e        emirate
f    faintYellow
g          Green
h          Hazel
i         indigo
j         jamuni
Name: Color, dtype: object

In [101]:
list1 = []
for col in df2.columns:
    list1.append(col)
print(list1)

['name', 'score', 'attempts', 'qualify', 'Color']